* {
    margin: 0;
    padding: 0;
}


:root {
    --padding-left: 1.25rem;
    --padding-top: .75rem;

}

.body {

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-top) 0 0 var(--padding-left);

}

.burger-bar {
    padding-right: var(--padding-left);
}

.main {
    min-height: 100vh;
}

.links-header {
    display: none;
}

.footer {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    max-width: 100vw;
    background-color: #070127;
    color: #fff;
    padding: calc( var(--padding-left) * 2.8) 2.1875rem 0 var(--padding-left);
}

.footer span {
    font-weight: 400;
    line-height: 1.625rem;
    font-size: 1rem;
    padding-bottom: 32px;
}

/*arrumar*/
footer img {
    width: 8.75rem;
    height: 4.125rem;
}

.icons::after {
    display: block;
    content: "";
    width: 20rem;
    height: 0.0625rem;
    background-color: #7E8492;
}

