* {
    margin: 0;
    padding: 0;
}

:root {
    --margin-top: 3.2vw;
    --margin-left: calc(28vw/3);
    --margin-right: calc(16vw/3);
    --font-family: "Inter", sans-serif;
    --small-spacing: calc(64vw/15);
}

.CTA {
    padding-top: 3.5rem;
    padding-left: var(--margin-right);
    padding-right: var(--margin-right);
}

.CTA .button {
    text-align: center;
    width: 50%;
    padding: 16.5px 9.75px;
    margin: 2rem 0;
}

.CTA .button a {
    font-size: 16px;
}

.CTA img {
    display: none;
}

.arrow-point {
    padding-left: var(--margin-right);
    display: flex;
    flex-direction: row;
    line-height: 1.625rem;
    color: #7E8492;
    font-weight: 500;
    gap: .5rem;
    padding-right: var(--small-spacing);
}

.arrow-point img {
    padding-bottom: var(--small-spacing);
}

.arrow-point span {
    padding-top: 3.5rem;
}

.body {
    font-family: var(--font-family);
}

#big_table {
    overflow: hidden;
    padding: 3.5rem 0;
    display: flex;
    justify-content: center;
}

#big_table img {
    height: 485px;
}

.button-negative , .button {
    padding: 14px 16px;
    border-radius: 6.25rem;
}

.button-negative a , .button a {
    font-size: 14px;
    text-decoration: none;
    line-height: 1.3125rem;
}

.button {
    background-color: #5828E3;
}

.button a {
    padding: .5rem;
    color: #fff;
    font-weight: 600;
}

.button-negative {
    display: flex;
    flex-direction: row;
    border: 1px solid #EDEDED;
    background-color: #fff;
    align-items: center;
}

.button-negative a {
    padding: 0 .5rem 0 .25rem;
    color: #5828E3;
    font-weight: 700;
}

.customer-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

#customers {
    display: flex;
    flex-direction: column;
    padding: 2.25rem var(--margin-right) 3.5rem;
}

#customers .button {
    margin: 1.5rem 0 2.5rem;
    text-align: center;
    width: 50%;
    padding: 16.5px 15.25px;
    align-self: center;
}

#customers .button a {
    font-size: 16px;
}

#customers .desktop {
    display: none;
}

#customers .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

#customers article {
    padding: var(--small-spacing);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#customers article img , #customers .desktop img {
    align-self: flex-start;
}

#customers h3 {
    margin: 0;
}

#customers span {
    font-weight: 500;
    line-height: 1.625rem;
    color: #7E8492;
}

.div-company , .div-company_big {
    display: flex;
    margin-top: 3rem;
    max-width: 100vw;
    background-color: #5828E3;
    justify-content: center;
    overflow: hidden;
}

.div-company img , .div-company_big img {
    padding: var(--small-spacing) 0;
}

.div-company_big {
    display: none;
}

.logo-div {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    background-color: #070127;
    color: #fff;
    padding: calc(var(--margin-left) * 2.8) var(--margin-left) 0 var(--margin-right);
}

#pannels .pannel #feature {
    width: 56px;
}

 .last .desktop {
    display: none;
}

.footer .last .mobile {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    padding-bottom: 3.5rem;
}

.footer .last span {
    padding: 1.5rem 0rem 0rem 0rem;
}

.footer .store a {
    padding: 0rem 0rem .25rem 0rem;
}

.footer .store img {
    width: 8.4375rem;
    height: 2.5rem;
}

.footer .store span {
    padding: 0rem 0rem .5rem 0rem;
}

.footer img {
    width: 8.75rem;
    height: 4.125rem;
}

.footer span {
    font-weight: 400;
    line-height: 1.625rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    padding-top: .5rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--margin-top) var(--margin-right) 0;

}

.header .button {
    display: none;
}

.highlight {
    color: #5828E3;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 6px 16px;
    border-radius: 100px;
    background-color: #f3edff;
    margin-bottom: var(--small-spacing);
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.5rem;
    width: 152px;
    padding: var(--small-spacing) 0rem 1.5rem .25rem;
    height: 1.25rem;

}

.icons i {
    transform: scale(1.25);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last::before {
    display: block;
    content: "";
    width: 100%;
    height: 0.0625rem;
    background-color: #7E8492;

}

.learn-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
    margin-top: 2rem;
}

.learn-more a {
    text-decoration: none;
    color: #1D1E25;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.35rem;
}

.links-footer {
    line-height: 1.625rem;
    width: 288px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    gap: var(--small-spacing);
    padding: 2rem 0rem 0rem 0rem;
}

.links-header {
    display: none;
}

.main {
    min-height: 100vh;
    max-width: 100vw;
    color: #1D1E25;
}

.name h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625rem;
}

.pannel {
    border-radius: 1rem;
    background-color: #F3EDFF;
    padding: var(--small-spacing);
    margin-bottom: 1.5rem;
}

.pannel h4 {
    padding: 2rem 0 var(--small-spacing);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.95rem;
}

#pannel2 {
    background-color: #EFFBF7;
}

#pannel3 {
    background-color: #FFF9F6;
    margin-bottom: 3.5rem;
}

#pricing {
    background-color: #f6f4ff;
    padding: 2.25rem var(--margin-right) 3.5rem;
}

/*
ARRUMAR OS PADDINGS DE FORA
*/
#pricing #basic {
    align-items: flex-start;
    margin: 0;
}

#pricing #basic ul {
    padding: 1rem 0 0;
}

#pricing .price {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

#pricing .price h3 , #pricing .price #money {
    font-size: 2.5rem;
    margin: 0;
    color: #1D1E25;
    font-weight: 600;
    line-height: 44px;
}

#pricing .price span {
    padding-left: .125rem;
    align-self: center;
    line-height: 1.625rem;
    color: #7E8492;
    font-weight: 500;
}

#pricing .subtitle {
    margin-top: 2.5rem;
    align-self: flex-start;
    padding-bottom: .5rem;
}

#pricing .subtitle h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5rem;
}

#pricing .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

#pricing article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;
    background-color: #fff;
    border-radius: 16px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#pricing article .button {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    
}

#pricing article .button a {
    font-size: 1rem;
}

#pricing article .title {
    flex-direction: column;
    align-items: flex-start;
}

#basic-plan {
    display: flex;
    align-items: center;
}

#pricing article .title .highlight {
    margin-bottom: 0;
    padding: 1.5px 10.5px;
}

#pannels {
    padding: 0 var(--margin-right) 0 var(--margin-right)
}

#pricing article .title h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 0;
    margin-right: .5rem;
}

#pricing article .title span {
    margin-top: .5rem;
    text-align: left;
    color: #1D1E25;
    font-weight: 400;
}

#pricing article h3 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: var(--small-spacing); 
}

#pricing article h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: .25rem;
    font-weight: 600; 
}

#pricing article ul {
    padding: 2rem 0 1rem;
    gap: 16px;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 2rem;
}

#pricing article ul li {
    display: flex;
    flex-direction: row;
    column-gap: .75rem;
    margin-bottom: 1rem;
}

#pricing li {
    list-style: none;
}

#redonda {
    padding: 0 var(--margin-right);
    margin: 2.5rem 0 3.5rem;
    width: 335px;
}

#section1 {
    padding-top: 2.5rem;
    padding-left: var(--margin-right);
}

#section1 .buttons {
    display: flex;
    flex-direction: row;
    column-gap: .75rem;
    padding-top: calc(2 * var(--margin-right));
    padding-bottom: 2rem;
    align-items: center;
}

#section1 h2 {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-top: var(--small-spacing);
    font-weight: 600;
}

.section2 {
    padding-top: 3.5rem;
    padding-left: var(--margin-right);
    padding-right: var(--margin-right);
}

.section2 #big-number {
    padding: var(--small-spacing) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.section2 #big-number h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 2.4rem;
}

.section2 #big-number span {
    font-weight: 500;
    line-height: 26px;
}

.section2 .button {
    text-align: center;
    width: 50%;
    padding: 16.5px 9.75px;
}

.section2 #button2 {
    margin: 1.5rem 0 2.5rem;
}

.section2 .button a {
    font-size: 16px;
}

.store {
    display: flex;
    flex-direction: column;
}

#tables {
    padding: 4.3125rem var(--margin-right) 0;
    overflow: hidden;
    width: calc(268vw/3);
}

.title h3 {
    font-size: 32px;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.title span {
    line-height: 1.625rem;
    color: #7E8492;
    font-weight: 500;
}

@media screen and ( min-width: 844px ) {
   .footerSect1 {
    display: flex;
    flex-direction: row;
    gap: calc(3805vw/72);
   }

   .footer {
    padding: 4rem 7rem 0;
   }

   .logo-div span {
        padding: 2rem 0 0;
   }

   .links-footer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: var(--small-spacing);
    font-weight: 700;
    padding-bottom: 4rem;
   }
    .footer .store span {
        padding-bottom: 1rem;
    }

    .icons {
        display: none;
    }
    
    .footer .last .mobile {
        display: none;
        padding-top: 2rem;
    }

    .last .desktop {
        display: flex;
        flex-direction: row;
        color: #7E8492;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3rem;
    }

    .last::before {
        margin-bottom: 2rem;
    }

    .last .desktop span {
        color: #fff;
        padding: 0;
        line-height: 1.5rem;
    }

    .last .desktop .last-icons {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        font-size: 1.5rem;
    }

    .header {
        padding: 24px 80px;
    }

    .header .button {
        display: block;
        font-weight: 700;
        padding: 16.5px 29.75px;
    }
    .header .button a {
        font-size: 16px;  
    }

    .header-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2.5rem;
    }

    .burger-bar {
        display: none;
    }

    .links-header {
        display: flex;
        column-gap: 2rem;
    }
    .links-header a {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #1D1E25;
        text-decoration: none;
    }

    #section1 {
        padding: 102px 0 0 5rem;
    }

    #section1 h2 {
        font-family: "Plus Jakarta Sans", sans-serif;
        padding-top: 1rem;
        font-size: 72px;
        line-height: 86.4px;
        font-weight: 700;
    }

    .main-section {
        display: flex;
        align-items: center;
        column-gap: 5rem;
    }
    #tables {
        min-width: 533px;
        padding: 0 2.5rem 0 0;
        overflow: hidden;
    }

    /*colocar todos os buttons em absolute e arrumar a largura tbm*/
    #users {
        position: absolute;
        left: 588px;
        top: 758px;
        padding: 0;
        gap: 24px;
    }

    .arrow-point {
        position: absolute;
        left: 24%;
        top: 503px;
        padding: 0;
        gap: 24px;
    }

    .arrow-point span {
        padding-top: 36px;
        font-size: 18px;
        font-weight: 550;
        line-height: 120%;
        width: 40%;
    }

    #section1 .buttons {
        column-gap: 2rem;
        padding-top: 237px;
        padding-bottom: 2rem;
    }

    #pannels .pannel #feature {
        width: 112px;
    }
    #section1 .buttons a {
        font-size: 16px;
    }
    
    .button , .button-negative {
        padding: 15.5px 22.75px;
    }

    .button-negative a {
        padding: 0 2px 0 10px;
    }


    .div-company {
        display: none;
    }

    .div-company_big {
        display: flex;
        margin-top: 90px;
    }

    .div-company_big img {
        padding: 36px 0;
    }

    #insights {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 5rem;

    }

    .title h3 , .section2 #big-number h4 {
        font-size: 48px;
        line-height: 120%; 
    }

    .section2 {
        padding: 8.5rem 7rem 0 5rem;
    }

    #big_table img {
        height: 529px;
    }

    #big_table {
        padding: 7rem 3.75rem 0 0 ;
        overflow: visible;
    }

    .section2 .title {
        display: flex;
        flex-direction: column;
    }

    .section2 .title span {
        font-size: 18px;
        line-height: 32px;
        width: 75%;
    }

    .section2 #big-number {
        padding: 2.5625rem 0;
        width: 75%;
    }

    #pannels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 12rem 8rem 6rem 5rem;
        gap: 4.0625rem 3.1875rem;
    }

    #pannels .pannel {
        margin: 0;
        padding: 3.5rem;
        display: flex;
        flex-direction: column;
    }

    #pannels .title h3 , #customers .title h3 , #pricing .title h3 {
        font-family: "Poppins", sans-serif;
        font-size: 56px;
        line-height: 120%;
    }

    #pannels .title span {
        width: 60%;
        line-height: 120%;
    }

    #pannels .pannel .title h4 {
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
    }

    #pannels .pannel .title span {
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
    }

    #pannels .section2 {
        padding: 2.8125rem 0 0 0;
    }

    #pannels .section2 .button {
        width: 30%;
        margin: 3.5rem 0 2.8125rem 0;
    }

    .pannel .learn-more {
        align-self: flex-end;
    }

    #satisfaction {
        display: flex;
        align-items: flex-start;
        padding: 96px 0;
    }

    #satisfaction .section2 {
        padding-right: 2.5rem;
        padding-top: 0;

    }

    #satisfaction .button {
        width: 28.5%;
    }

    #redonda {
        margin: 0;
        width: calc(3235vw/72);
        padding: 0 80px 0 0;
    }

    #pricing {
        background-color: #FCFBFF;
        padding-top: 96px;
    }

    #pricing .highlight {
        margin-bottom: 1rem;
    }

    #pricing #basic {
        padding: 2rem;
    }

    #pricing .title span {
        font-size: 18px;
        line-height: 32px;
        width: 42.5%;
    }

    .plans {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 2.5rem;
    }

    .features {
        flex-direction: row;
        padding-bottom: 56px;
    }

    #pricing #basic .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    #pricing #basic .subtitle {
        margin-top: 2remm;
    }


    #pricing #basic .title span {
        width: 100%;
        font-size: 1rem;
        margin-top: .0;
    }

    #customers .desktop {
        display: flex;
    }

    .basic-header {
        display: flex;
        column-gap: 2rem;
        padding-bottom: 1.5rem;
    }

    #pricing article h3 {
        margin-bottom: 1rem;
    }

    #pricing article {
        margin: 0;
    }


    #pricing .basic-header .price h3 {
        font-size: 56px;
        align-self: center;
    }

    #pricing .price #money {
        font-size: 36px;
        padding: 0 2px 20px 0;
        align-self: flex-start;
    }

    #pricing .price span {
        align-self: flex-end;
    }

    #customers .title {
        margin-bottom: 0;
    }

    #customers .title h3 {
        width: 50%;
    }

    #customers .opinions {
        display: grid;
        grid-template-columns: repeat(6 , 1fr);
    }

    #customers .opinions article {
        grid-column:span 2;
        padding: 80px 40px 0;

    }
    #customers .opinions #larger {
        grid-column:span 3;
    }

    #customers .button {
        width: 13%;
        margin-top: 80px;
    }

    #customers .highlight {
        margin-bottom: 1rem;
    }

    .CTA {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 87px 80px;
    }

    .CTA img {
        display: block;
    }

    .CTA .title h3 {
        font-size: 56px;
        line-height: 130%;
        width: 80%;
    }

    .CTA .title {
        padding-left: 24px;
        display: flex;
        flex-direction: column;
    }

    .CTA .title span {
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        width: 70%;
    }

    .CTA .button {
        width: 16.75%;
    }
}

